SoundFile
torchaudio
munch
torch
pydub
pyyaml
librosa
nltk>=3.8.2
matplotlib
accelerate
transformers
einops
einops-exts
tqdm
typing
typing-extensions
git+https://github.com/resemble-ai/monotonic_align.git
gruut>=2.3.4
gruut-ipa>=0.13.0
gruut-lang-en>=2.0.0
git+https://github.com/ncryptedV1/py-espeak-ng.git@c1686b2df57c38c5a973a51e9041384070fd8774